<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>826470569713-49i0fuav95v9ife6l5pn7u27mp13juch.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.826470569713-49i0fuav95v9ife6l5pn7u27mp13juch</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>826470569713-rl9p6le7ha103hp8uo89jm1t57ns6jmj.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAH85jm2bp-GZO7jeyV48HjyHd4AHRHJnE</string>
	<key>GCM_SENDER_ID</key>
	<string>826470569713</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.freshcodes.avalinks</string>
	<key>PROJECT_ID</key>
	<string>avalinks</string>
	<key>STORAGE_BUCKET</key>
	<string>avalinks.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:826470569713:ios:5e03f31c3a666bac</string>
	<key>DATABASE_URL</key>
	<string>https://avalinks.firebaseio.com</string>
</dict>
</plist>